.videoPlayer section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .videoPlayer section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .videoPlayer section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}


body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

section{
float: left;
width: 100%;
}

#contentcolumn{
margin-right: 25%;
}

#playlist-list {
    padding-top: 15px;
    width: 640px;
    height: 200px;
}

.video-result-list-image {
    width: 100px;
    padding-top: 5px;
}

.video-result-list-title {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 22px;
    position: absolute;
}

.win-container {
    background: #2f4f4f;
} 

#lyrics{
    float: right;
    margin-top: -390px;
    width: 30%;
    height: 400px;
    background: #2f4f4f;
    padding: 5px;
    /*border: 10px solid #65B7B5;*/
    overflow: scroll;  
}

#more-info{
float: right;
width: 30%;
background: #FDE95E;
}

.youtube-player{
margin: 0 auto;
}